pkgbase = mingw-w64-qt5-winextras-static
	pkgdesc = Classes and functions that enable you to use Windows-specific functions (mingw-w64)
	pkgver = 5.15.14
	pkgrel = 1
	url = https://www.qt.io/
	arch = any
	groups = mingw-w64-qt5
	license = GPL3
	license = LGPL3
	license = LGPL2.1
	license = FDL
	license = custom
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-pkg-config
	makedepends = git
	depends = mingw-w64-qt5-base-static
	depends = mingw-w64-qt5-declarative-static
	depends = mingw-w64-qt5-winextras
	options = !strip
	options = !buildflags
	options = staticlibs
	source = git+https://invent.kde.org/qt/qt/qtwinextras#commit=907009a4f7e5d2b99805547caf4b901bdbb0d4d6
	sha256sums = de75e02bd4fd260f32a69b8f41c4a0ff8028f64bcb20a3208e3e0b727d3dbe70

pkgname = mingw-w64-qt5-winextras-static
